/* App.css */
.App {
  width: 100%;
  min-height: 100vh;
}

/* Add this to App.css */
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 70px);
  /* margin-top: 70px; */
  padding: 20px;
  background-color: #f5f7fa;
}